LGClientTest/Connected Services/WcfService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LeagueGoServer.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LeagueGoServer.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGameConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameConfig" nillable="true" type="tns:GameConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameConfig" nillable="true" type="tns:ArrayOfGameConfig" />
  <xs:complexType name="GameConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameConfig" nillable="true" type="tns:GameConfig" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Type" type="tns:PlayerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:simpleType name="PlayerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AI" />
      <xs:enumeration value="RealBoard" />
      <xs:enumeration value="Host" />
      <xs:enumeration value="Internet" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayerType" nillable="true" type="tns:PlayerType" />
</xs:schema>